    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <!-- Mapa del sitio -->
        <div class="container mb-5">
            <!-- Mapa del Tribunal Superior de Justicia -->
            <h3 class="text-center">Tribunal Superior de Justicia</h3>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <h5>Presidencia</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/conocenos/quienes-somos/bienvenida/">Bienvenida</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/presidencia/">Presidencia</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/unidad-de-derechos-humanos-e-igualdad-de-genero/">Unidad de Derechos Humanos e Igualdad de Género</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/auditoria-interna/">Auditoría Interna</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/presidencia/archivo/">Archivo Judicial General</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos Jurisdiccionales</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/central-de-actuarios/">Central de Actuarios</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/juzgados-por-distrito/">Juzgados por Distrito</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/pleno/">Pleno</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/salas/">Salas</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/tribunal-constitucional/">Tribunal Constitucional</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/tribunales-distritales/">Tribunales Distritales</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-jurisdiccionales/tribunales-especializados/">Tribunales Especializados</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos No Jurisdiccionales</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/centro-de-evaluacion-psicosocial/">Centro de Evaluación Psicosocial</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/cemasc/">Centro de Medios Alternos de Solución de Controversias</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-de-especializacion-judicial/">Instituto de Especialización Judicial</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/instituto-estatal-de-defensoria-publica/">Instituto Estatal de Defensoría Pública</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/oficialia-de-partes/">Oficialía de Partes</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/organos-no-jurisdiccionales/visitaduria-judicial-general/">Visitaduría Judicial General</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-2">
                    <h5>Órganos Administrativos</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/conocenos/estructura/tribunal-superior-de-justicia/administrativos/oficialia-mayor/">Oficialía Mayor</a></li>
                    </ul>
                </div>
            </div>
            <!-- Mapa del Consejo de la Judicatura -->
            <h3 class="text-center mt-2">Consejo de la Judicatura</h3>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <h5>Consejo</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/conocenos/directorio-general/consejeros/">Consejeros</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/directorio/">Directorio</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-2">
                    <h5>Consulta</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/atribuciones/">Atribuciones</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/marco-juridico/">Marco Jurídico</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/proceso-de-seleccion-de-jueces-y-magistrados-distritales/">Proceso de Selección de Jueces</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-2">
                    <h5>Labor Disciplinaria</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/sanciones-a-servidores-publicos/">Sanciones a Servidores Públicos</a></li>
                        <li><a href="{{ SITEURL }}/conocenos/estructura/consejo-de-la-judicatura/presentacion-de-quejas/">Presentación de Quejas</a></li>
                    </ul>
                </div>
            </div>
            <!-- Mapa de Consultas, Trámites, Servicios e Información -->
            <h3 class="text-center mt-2">Consultas, Trámites, Servicios e Información</h3>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <h5>Consultas y Servicios</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/consultas/agenda-audiencias/">Agenda de Audiencias</a></li>
                        <li><a href="{{ SITEURL }}/consultas/boletas/">Boletas de Central de Actuarios</a></li>
                        <li><a href="{{ SITEURL }}/consultas/edictos/">Edictos en Línea</a></li>
                        <li><a href="{{ SITEURL }}/consultas/expediente-virtual/">Expediente Virtual</a></li>
                        <li><a href="{{ SITEURL }}/consultas/listas-de-acuerdos/">Listas de Acuerdos</a></li>
                        <li><a href="{{ SITEURL }}/consultas/listas-especiales/">Listas Especiales</a></li>
                        <li><a href="{{ SITEURL }}/sesiones/">Sesiones</a></li>
                        <li><a href="{{ SITEURL }}/sesiones/votos-particulares/">Sentencias con Votos Particulares</a></li>
                        <li><a href="{{ SITEURL }}/citas/">Sistema de Citas</a></li>
                        <li><a href="{{ SITEURL }}/consultas/sentencias/">Versión Pública de Sentencias</a></li>
                    </ul>
                </div>
                <div class="col-md-6 mb-2">
                    <h5>Legalidad</h5>
                    <ul class="list-unstyled text-small">
                        <li><a href="{{ SITEURL }}/aviso-de-privacidad/">Aviso de Privacidad</a></li>
                        <li><a href="{{ SITEURL }}/transparencia/">Transparencia</a></li>
                        <li><a href="{{ SITEURL }}/transparencia-tca/">Transparencia TCA</a></li>
                        <li><a href="{{ SITEURL }}/licencias/agpl/">Licencia de Software AGPL</a></li>
                        <li><a href="{{ SITEURL }}/transparencia/licitaciones/">Licitaciones 2020</a></li>
                        <li><a href="{{ SITEURL }}/politicas-de-uso/terminos-de-uso-de-la-informacion/">Términos de Uso de la Información</a></li>
                        <li><a href="{{ SITEURL }}/politicas-de-uso/terminos-de-uso-del-sitio-web/">Términos de Uso del Sitio Web</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Logotipo PJECZ -->
        <div class="container mb-5">
            <div class="text-center">
                <img class="img-fluid" src="{{ SITEURL }}/theme/images/poder-judicial-410x180-blanco.png" alt="PJECZ">
                <p>
                    Blvd. Francisco Coss #945. Zona Centro. Saltillo, Coahuila de Zaragoza, México.<br>
                    <a href="mailto:poderjudicialcoahuila@pjec.gob.mx">poderjudicialcoahuila@pjec.gob.mx</a><br>
                    Teléfono 844 194 5100<br>
                    &copy; 2020 Todos los derechos reservados. Términos y condiciones.
                </p>
            </div>
        </div>
    </footer>

