        <!-- Inicial En Construccion -->
        <section id="en_construccion">
            <div class="container">
                <div class="row h-100">
                    <dir class="col-lg-12">
                        <h2 class="text-center pt-4">En Construcción</h2>
                        <p class="text-center">Con el objetivo de mejorar nuestro sitio web estamos innovando con tecnologías abiertas y de vanguardia. La fecha de término de la migración está programada para el <b>15 de mayo de 2020;</b> por lo que algunas secciones no están operando. Agradecemos de antemano su comprensión.</p>
                    </dir>
                </div>
            </div>
        </section>

