        <!-- Inicial Recomendaciones -->
        <section id="recomendaciones">
            <div class="container pt-4 pb-2">
                <h3 class="text-center">Recomendaciones</h3>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <img class="rounded-circle" data-src="holder.js/150x150?auto=yes">
                        <h4>Título</h4>
                    </div>
                </div>
            </div>
        </section>

