        <!-- Inicial Transmisiones Sesiones -->
        <section id="transmisiones_sesiones">
            <div class="container">
                <div class="row h-100">
                    <div class="col-md-6">
                        <img class="img-fluid m-2" src="{{ SITEURL }}/theme/images/transmisiones-sesiones.jpg" alt="Magistrados del PJECZ">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center pt-4">Transmisiones de las Sesiones</h2>
                        <a href="{{ SITEURL }}/sesiones/sala-penal/2020/decima-septima-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Sala Penal</h3>
                            <p class="text-center pt-0">Décima Séptima Sesión Ordinaria, 09 de junio</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/pleno-del-tribunal-superior-de-justicia/2020/decima-quinta-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Pleno del TSJ</h3>
                            <p class="text-center pt-0">Décima Quinta Sesión Ordinaria, 10 de junio</p>
                        </a>
                        <a href="{{ SITEURL }}/sesiones/sala-civil-y-familiar/2020/decima-septima-sesion-ordinaria/">
                            <h3 class="text-center mb-0">Sala Civil y Familiar</h3>
                            <p class="text-center pt-0">Décima Séptima Sesión Ordinaria, 11 de junio</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>

