        <!-- Inicial Cabecera -->
        <section id="cabecera">
            <div id="cabeceraCarusel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#cabeceraCarusel" data-slide-to="0" class="active"></li>
                    <li data-target="#cabeceraCarusel" data-slide-to="1"></li>
                    <li data-target="#cabeceraCarusel" data-slide-to="2"></li>
                    <li data-target="#cabeceraCarusel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="8000">
                        <a href="{{ SITEURL }}/citas/"><img class="d-block w-100" src="{{ SITEURL }}/theme/images/carrusel-citas.jpg"></a>
                    </div>
                    <div class="carousel-item" data-interval="8000">
                        <a href="{{ SITEURL }}/comunicados/2020/2020-05-26-1200-plan-de-accion-ante-el-covid-19/"><img class="d-block w-100" src="{{ SITEURL }}/theme/images/carrusel-innovacion-acceso-justicia.jpg"></a>
                    </div>
                    <div class="carousel-item" data-interval="8000">
                        <a href="{{ SITEURL }}/sesiones/"><img class="d-block w-100" src="{{ SITEURL }}/theme/images/carrusel-transmisiones-sesiones.jpg"></a>
                    </div>
                    <div class="carousel-item" data-interval="8000">
                        <a href="{{ SITEURL }}/consultas/listas-de-acuerdos/"><img class="d-block w-100" src="{{ SITEURL }}/theme/images/carrusel-consulta-listas-acuerdos.jpg"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#cabeceraCarusel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#cabeceraCarusel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

