        <!-- Inicial Sitios de Interés -->
        <section id="sitios_interes">
            <div class="container pt-4 pb-2">
                <h3 class="text-center">Sitios de Interés</h3>
                <div class="text-center">
                    <a href="http://inicio.ifai.org.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-inai.png" alt="IFAI"></a>
                    <a href="https://www.plataformadetransparencia.org.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-sndt.png" alt="Plataforma Nacional de Transparencia"></a>
                    <a href="https://coahuila.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-gobierno-estado.png" alt="Gobierno del Estado de Coahuila"></a>
                    <a href="https://www.scjn.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-scjn.png" alt="Suprema Corte de Justicia de la Nación"></a>
                    <a href="http://congresocoahuila.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-congreso.png" alt="Congreso del Estado"></a>
                    <a href="http://www.diputados.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-diputados.png" alt="Cámara de Diputados"></a>
                    <a href="https://www.senado.gob.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-senado.png" alt="Senado de la República"></a>
                    <a href="https://www.seacoahuila.org.mx/" target="_blank"><img class="m-2" src="{{ SITEURL }}/theme/images/footer-saec.png" alt="Sistema Anticorrupicón del Estado"></a>
                </div>
            </div>
        </section>

