{% extends "base.html" %}

{% block title %}Etiquetas - {{ SITENAME }}{% endblock %}

{% block header %}
    <!-- Encabezado -->
    <header class="py-2">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 mt-5 mb-2">Etiquetas</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Contenido -->
    <main>
        <ul>
{% for tag, articles in tags|sort %}
            <li><a href="/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
{% endfor %}
        </ul>
    </main>
{% endblock %}
